astronomer-cosmos[dbt.postgres]>=1.11.0
dbt-core==1.9.1
dbt-postgres==1.9.0
tqdm>=4.66.5
rarfile>=4.2
duckdb>=1.0.0
GDAL==3.6.2
geopandas==1.0.1
geoalchemy2==0.15.2
h3==4.0.0b2
h3ronpy==0.21.0
rasterio==1.4.2
rasterstats==0.19.0
h3_toolkit>=0.3.11
polars>=1.2.1
xlrd==2.0.1
geocoder==1.38.1
cdsapi>=0.7.0
netCDF4>=1.6.0
nest_asyncio>=1.6.0

